@font-face {
  font-family: "Gotham-Black";
  src: url(../assets/Gotham-Font/Gotham-Black.otf);
}
@font-face {
  font-family: "Gotham-Book";
  src: url(../assets/Gotham-Font/Gotham-Book.otf);
}
@font-face {
  font-family: "Gotham-Light";
  src: url(../assets/Gotham-Font/Gotham-Light.otf);
}
@font-face {
  font-family: "Gotham-BookItalic";
  src: url(../assets/Gotham-Font/Gotham-BookItalic.otf);
}
@font-face {
  font-family: "Gotham-Bold";
  src: url(../assets/Gotham-Font/Gotham-Bold.otf);
}
* {
  padding: 0;
  margin: 0;
}

section article {
  background-color: #44358b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
section article svg {
  display: block;
}
section article section article svg:first-of-type {
  margin-top: -1%;
}
section article h2 {
  margin: 0;
  color: #FDFDFD;
  font-family: "Gotham-Bold", sans-serif;
  font-size: 2rem;
  text-align: center;
  padding: 0 10px;
}
section article .gridContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 90%;
  margin-top: 5em;
  text-align: justify;
}
section article .gridContainer .pictogrammes {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 1s ease;
}
section article .gridContainer .pictogrammes img {
  width: 50%;
}
section article .gridContainer .pictogrammes #picto-1 {
  grid-area: 1/1/2/2;
}
section article .gridContainer .pictogrammes #picto-2 {
  grid-area: 2/2/3/3;
}
section article .gridContainer .pictogrammes #picto-3 {
  grid-area: 3/1/4/2;
}
section article .gridContainer .pictogrammes #picto-4 {
  grid-area: 4/2/5/3;
}
section article .gridContainer .pictogrammes #picto-5 {
  grid-area: 5/1/6/2;
}
section article .gridContainer .descriptions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Gotham-Light";
  color: #FDFDFD;
  opacity: 0;
  transition: all 1s ease;
  margin-bottom: 3em;
}
section article .gridContainer .descriptions span {
  font-size: 2rem;
  margin: 0 0 1em;
}
section article .gridContainer .descriptions p {
  font-size: 1.5rem;
  line-height: 1.5;
}
section article .gridContainer .firstRow,
section article .gridContainer .thirdRow,
section article .gridContainer .fifthRow {
  transform: translateX(-25px);
}
section article .gridContainer .firstRow.active,
section article .gridContainer .thirdRow.active,
section article .gridContainer .fifthRow.active {
  transform: translateX(0px);
  opacity: 1;
}
section article .gridContainer .secondRow,
section article .gridContainer .fourthRow {
  transform: translateX(25px);
}
section article .gridContainer .secondRow.active,
section article .gridContainer .fourthRow.active {
  transform: translateX(0px);
  opacity: 1;
}
section article .gridContainer #communityManager {
  grid-area: 1/2/2/3;
}
section article .gridContainer #motionDesigner {
  grid-area: 2/1/3/2;
}
section article .gridContainer #developpeurWeb {
  grid-area: 3/2/4/3;
}
section article .gridContainer #reaMultimedia {
  grid-area: 4/1/5/2;
}
section article .gridContainer #graphiste {
  grid-area: 5/2/6/3;
}
section article section article svg:last-of-type {
  margin-bottom: -1%;
}

@media screen and (max-width: 1024px) {
  section article .gridContainer {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
  }
  section article .gridContainer .pictogrammes {
    display: none;
  }
  section article .gridContainer #communityManager {
    grid-area: 1/1/2/2;
  }
  section article .gridContainer #motionDesigner {
    grid-area: 2/1/3/2;
  }
  section article .gridContainer #developpeurWeb {
    grid-area: 3/1/4/2;
  }
  section article .gridContainer #reaMultimedia {
    grid-area: 4/1/5/2;
  }
  section article .gridContainer #graphiste {
    grid-area: 5/1/6/2;
  }
}
@media screen and (max-width: 768px) {
  section article .gridContainer {
    margin-top: 5em;
  }
}
@media screen and (max-width: 480px) {
  section article h2 {
    font-size: 1.5rem;
  }
  section article .gridContainer {
    margin-top: 5em;
  }
  section article .gridContainer .descriptions span {
    font-size: 1.5rem;
  }
  section article .gridContainer .descriptions p {
    font-size: 1.5rem;
  }
}

/*# sourceMappingURL=debouches.css.map */
