@font-face {
  font-family: "Gotham-Black";
  src: url(../assets/Gotham-Font/Gotham-Black.otf);
}
@font-face {
  font-family: "Gotham-Book";
  src: url(../assets/Gotham-Font/Gotham-Book.otf);
}
@font-face {
  font-family: "Gotham-Light";
  src: url(../assets/Gotham-Font/Gotham-Light.otf);
}
@font-face {
  font-family: "Gotham-BookItalic";
  src: url(../assets/Gotham-Font/Gotham-BookItalic.otf);
}
@font-face {
  font-family: "Gotham-Bold";
  src: url(../assets/Gotham-Font/Gotham-Bold.otf);
}
header {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
header video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

svg {
  display: block;
}

.formation .reveal {
  margin-top: 200px;
  transform: translateY(25px);
  -webkit-transform: translateY(25px);
  opacity: 0;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
}
.formation .reveal .revealContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #44358b;
  width: 100%;
  padding: 70px 0;
}
.formation .reveal .revealContainer .numbers {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.formation .reveal .revealContainer .numbers span {
  color: #FDFDFD;
  font-family: "Gotham-Light", sans-serif;
  text-align: center;
}
.formation .reveal .revealContainer .numbers .spanContainer {
  display: flex;
  flex-direction: column;
  font-size: 5rem;
  width: 100px;
}
.formation .reveal .revealContainer .numbers .chiffres {
  font-size: 1.5rem;
  width: auto;
}
.formation .reveal.active {
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  opacity: 1;
}
.formation .reveal + div + h2 {
  color: #44358b;
  font-family: "Gotham-Bold", sans-serif;
  font-size: 2rem;
  margin: 2em 0;
  text-align: center;
  padding: 0 10px;
}
.formation .parcours {
  display: inline-flex;
  justify-content: space-evenly;
}
.formation .parcours div {
  background: rgba(217, 217, 217, 0.19);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 45%;
  transition: all 0.3s;
  padding: 2em 0;
}
.formation .parcours div:hover {
  cursor: default;
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.25);
}
.formation .parcours div h3 {
  color: #44358b;
  font-family: "Gotham-Light", sans-serif;
  text-align: center;
  font-size: 2rem;
  padding: 0 20px;
  font-weight: 700;
  margin-bottom: 1em;
}
.formation .parcours div p {
  font-family: "Gotham-Light";
  text-align: justify;
  font-size: 1.5rem;
  color: #7175B6;
  padding: 0 60px;
  margin: 0;
  font-weight: 400;
}
.formation .parcours div img {
  width: 150px;
}
.formation .parcours div .btn-vides {
  width: 200px;
}
.formation .parcours div .btn-vides button {
  background: #FDFDFD;
  border: 3px solid #44358b;
  color: #44358b;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
  font-family: "Gotham-Light";
  font-size: 1.2rem;
  padding: 0;
  border-radius: 14px;
  height: 60px;
  width: 100%;
}
.formation .parcours div .btn-vides button:hover {
  background: #44358b;
  color: #FDFDFD;
  cursor: pointer;
}
.formation .opportunities {
  background-color: #44358b;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 3em 0 0;
  position: relative;
}
.formation .opportunities svg:first-of-type {
  margin-top: -1%;
}
.formation .opportunities #opportunities-anchor {
  height: 100px;
  width: 100%;
  background-color: transparent;
}
.formation .opportunities .icon {
  opacity: 0;
  transform: translateY(25px);
  -webkit-transform: translateY(25px);
  transition: all 1s ease;
}
.formation .opportunities .icon.active {
  opacity: 1;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
}
.formation .opportunities h2 {
  margin: 0;
  color: #FDFDFD;
  font-size: 2rem;
  font-family: "Gotham-Bold", sans-serif;
  text-align: center;
  padding: 0 10px;
}
.formation .opportunities p {
  font-family: "Gotham-Light";
  color: #FDFDFD;
  font-size: 1.5rem;
  margin: 1em 0;
  text-align: center;
  padding: 0 3em;
}
.formation .opportunities .gridContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 90%;
}
.formation .opportunities .gridContainer .column-1,
.formation .opportunities .gridContainer .column-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  place-self: center;
}
.formation .opportunities .gridContainer .column-1 div,
.formation .opportunities .gridContainer .column-2 div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.formation .opportunities .gridContainer .column-1 div img,
.formation .opportunities .gridContainer .column-2 div img {
  width: 100px;
  height: 100px;
}
.formation .opportunities .gridContainer .column-1 div span,
.formation .opportunities .gridContainer .column-2 div span {
  color: #FDFDFD;
  font-family: "Gotham-Light";
  font-size: 1.2rem;
  margin-left: 0.5em;
}
.formation .opportunities .gridContainer .column-1 {
  grid-area: 1/1/2/2;
}
.formation .opportunities .gridContainer .column-2 {
  grid-area: 1/2/2/3;
}
.formation .opportunities .btn-pleins {
  width: 200px;
  margin: 2em 0 0;
}
.formation .opportunities .btn-pleins button {
  background: #44358b;
  border: 3px solid #FDFDFD;
  color: #FDFDFD;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
  font-family: "Gotham-Light";
  font-size: 1.2rem;
  padding: 0;
  border-radius: 14px;
  height: 60px;
  width: 100%;
}
.formation .opportunities .btn-pleins button:hover {
  background: #FDFDFD;
  color: #44358b;
  cursor: pointer;
}
.formation .opportunities svg:last-of-type {
  margin-bottom: -1%;
}

.departement {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 1%;
}
.departement #departement-anchor {
  height: 100px;
}
.departement h2 {
  color: #EB5E25;
  font-family: "Gotham-Bold", sans-serif;
  font-size: 2rem;
  text-align: center;
  padding: 0 10px;
}
.departement .gallery {
  margin-top: 5em;
  width: 40%;
  height: 900px;
}
.departement .gallery .row-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65%;
  width: 100%;
}
.departement .gallery .row-1 div:first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 50%;
  height: 100%;
}
.departement .gallery .row-1 div:first-child img {
  display: block;
  height: 49.5%;
  width: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;
}
.departement .gallery .row-1 div:first-child img:hover {
  opacity: 0.7;
  cursor: pointer;
}
.departement .gallery .row-1 div:last-child {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
  height: 100%;
}
.departement .gallery .row-1 div:last-child img {
  width: 98.5%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s ease;
}
.departement .gallery .row-1 div:last-child img:hover {
  opacity: 0.7;
  cursor: pointer;
}
.departement .gallery .row-2 {
  height: 35%;
  width: 100%;
}
.departement .gallery .row-2 div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}
.departement .gallery .row-2 div img {
  object-fit: cover;
  width: 100%;
  height: 96%;
  transition: opacity 0.3s ease;
}
.departement .gallery .row-2 div img:hover {
  opacity: 0.7;
  cursor: pointer;
}
.departement .popup-image {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100vh;
  z-index: 10;
  display: none;
}
.departement .popup-image span {
  position: absolute;
  top: 1%;
  right: 1%;
  font-size: 40px;
  font-weight: bold;
  color: #FDFDFD;
  cursor: pointer;
  z-index: 100;
}
.departement .popup-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  width: 50%;
  max-height: 700px;
  object-fit: cover;
}
.departement .poles {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background-color: #EB5E25;
  width: 100%;
}
.departement .poles svg:first-of-type {
  margin-top: -1%;
}
.departement .poles h2 {
  color: white;
  transform: translateY(25px);
  -webkit-transform: translateY(25px);
  opacity: 0;
  transition: all 1s ease;
}
.departement .poles h2.active {
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  opacity: 1;
}
.departement .poles .lists {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 50px;
  place-items: center;
  margin-top: 5em;
  width: 90%;
}
.departement .poles .lists ul {
  transform: translateY(25px);
  opacity: 0;
  transition: all 1s ease;
  list-style-type: none;
  color: #FDFDFD;
  font-family: Gotham-Light;
  font-size: 2rem;
  width: 75%;
}
.departement .poles .lists ul li {
  font-size: 1.5rem;
}
.departement .poles .lists ul li:first-child {
  margin: 1em 0 0;
}
.departement .poles .lists ul.active {
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  opacity: 1;
}
.departement .poles .lists .audio-visual {
  grid-area: 1/1/2/2;
}
.departement .poles .lists .dev {
  grid-area: 1/2/2/3;
}
.departement .poles .lists .artistic-culture {
  grid-area: 2/1/3/2;
}
.departement .poles .lists .com {
  grid-area: 2/2/3/3;
}
.departement .poles svg:last-of-type {
  margin-bottom: -1%;
}
.departement .realizations {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 1% 0;
}
.departement .realizations h2 {
  color: #FBB800;
  font-family: "Gotham-Bold", sans-serif;
  font-size: 2rem;
  text-align: center;
}
.departement .realizations .realizations-gallery {
  margin-top: 5em;
}
.departement .realizations .realizations-gallery .galleryContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}
.departement .realizations .realizations-gallery .galleryContainer img {
  width: 400px;
  transition: opacity 0.3s ease;
}
.departement .realizations .realizations-gallery .galleryContainer img:first-child {
  grid-area: 1/1/2/2;
}
.departement .realizations .realizations-gallery .galleryContainer img:first-child + img {
  grid-area: 1/2/2/3;
}
.departement .realizations .realizations-gallery .galleryContainer img:first-child + img + img {
  grid-area: 2/1/3/2;
}
.departement .realizations .realizations-gallery .galleryContainer img:last-child {
  grid-area: 2/2/3/3;
}
.departement .realizations .realizations-gallery .galleryContainer img:hover {
  opacity: 0.7;
  cursor: pointer;
}
.departement .realizations .gallery-popup-image {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100vh;
  z-index: 10;
  display: none;
}
.departement .realizations .gallery-popup-image span {
  position: absolute;
  top: 1%;
  right: 1%;
  font-size: 40px;
  font-weight: bold;
  color: #FDFDFD;
  cursor: pointer;
  z-index: 100;
}
.departement .realizations .gallery-popup-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  max-height: 700px;
  object-fit: contain;
}

.localisation {
  position: relative;
}
.localisation .building {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  background-color: #FBB800;
  padding-bottom: 5em;
}
.localisation .building svg:first-of-type {
  margin-top: -1%;
}
.localisation .building h2 {
  color: #FDFDFD;
  font-size: 2rem;
  font-family: "Gotham-Bold", sans-serif;
  text-align: center;
  padding: 0 10px;
  margin-bottom: 5em;
}
.localisation .building div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;
}
.localisation .building div div {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  width: 75%;
  color: #FDFDFD;
  font-family: "Gotham-Light";
  font-size: 1.5rem;
}
.localisation .building div div p {
  padding-right: 60px;
}
.localisation .building div div ul {
  margin-top: 2em;
}
.localisation .building div div ul li {
  list-style-type: "- ";
}
.localisation .reveal {
  transform: translateY(25px);
  -webkit-transform: translateY(25px);
  opacity: 0;
  transition: all 1s ease;
}
.localisation .reveal .revealContainer {
  background-color: #FDFDFD;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 70px 0;
}
.localisation .reveal .revealContainer .spanContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.localisation .reveal .revealContainer .spanContainer span {
  color: #FBB800;
  font-family: "Gotham-Light", sans-serif;
  text-align: center;
}
.localisation .reveal .revealContainer .spanContainer .numbers {
  display: flex;
  flex-direction: column;
  font-size: 5rem;
}
.localisation .reveal .revealContainer .spanContainer .text {
  font-size: 1.5rem;
}
.localisation .reveal.active {
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  opacity: 1;
}
.localisation .reveal + div + h2 {
  color: #44358b;
  font-family: "Gotham-Bold", sans-serif;
  font-size: 2rem;
  margin: 5em 0;
  text-align: center;
  padding: 0 10px;
}
.localisation .testimony {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.localisation .testimony video {
  width: 50%;
}
.localisation .testimony .speech-bubbles {
  width: 100%;
  margin-top: 10em;
}
.localisation .testimony .speech-bubbles .left .bubble,
.localisation .testimony .speech-bubbles .right .bubble {
  position: relative;
  font-family: "Gotham-Light";
  font-size: 1.2rem;
  line-height: 1.2;
  width: 45%;
  border-radius: 40px;
  padding: 24px;
  text-align: center;
  color: #FDFDFD;
}
.localisation .testimony .speech-bubbles .left .bubble-bottom-left:before,
.localisation .testimony .speech-bubbles .right .bubble-bottom-left:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-right: 12px solid transparent;
  border-bottom: 20px solid transparent;
  left: 32px;
  bottom: -24px;
}
.localisation .testimony .speech-bubbles .left .bubble-bottom-right:before,
.localisation .testimony .speech-bubbles .right .bubble-bottom-right:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 12px solid transparent;
  border-bottom: 20px solid transparent;
  right: 32px;
  bottom: -24px;
}
.localisation .testimony .speech-bubbles .left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 1em;
}
.localisation .testimony .speech-bubbles .left:nth-child(1) .bubble {
  background-color: #44358b;
}
.localisation .testimony .speech-bubbles .left:nth-child(1) .bubble-bottom-left:before {
  border-left: 24px solid #44358b;
  border-top: 12px solid #44358b;
}
.localisation .testimony .speech-bubbles .left:nth-child(3) .bubble {
  background-color: #EB5E25;
}
.localisation .testimony .speech-bubbles .left:nth-child(3) .bubble-bottom-left:before {
  border-left: 24px solid #EB5E25;
  border-top: 12px solid #EB5E25;
}
.localisation .testimony .speech-bubbles .right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 2em 1em 2em 0;
}
.localisation .testimony .speech-bubbles .right .bubble {
  background-color: #FBB800;
}
.localisation .testimony .speech-bubbles .right .bubble-bottom-right:before {
  border-right: 24px solid #FBB800;
  border-top: 12px solid #FBB800;
}

.admission {
  margin-top: 3%;
}
.admission article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #EB5E25;
}
.admission article svg {
  display: block;
}
.admission article svg:first-of-type {
  margin-top: -1%;
}
.admission article svg:last-of-type {
  margin-bottom: -1%;
}
.admission article h2,
.admission article p {
  transform: translateY(25px);
  -webkit-transform: translateY(25px);
  opacity: 0;
  transition: all 1s ease;
}
.admission article h2.active,
.admission article p.active {
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  opacity: 1;
}
.admission article h2 {
  margin: 0;
  color: #FDFDFD;
  font-family: "Gotham-Bold", sans-serif;
  font-size: 2rem;
  text-align: center;
  padding: 0 10px;
}
.admission article p {
  color: #FDFDFD;
  font-family: "Gotham-Light";
  font-size: 1.5rem;
  line-height: 1.5;
  margin-top: 5em;
  width: 75%;
  text-align: justify;
}

.newsContainer,
.projectsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  padding: 1em 0;
}
.newsContainer h2,
.projectsContainer h2 {
  font-family: Gotham-Bold;
  color: #44358b;
  font-size: 2rem;
  margin: 2em 0 1em;
}
.newsContainer .news-content,
.newsContainer .projects-content,
.projectsContainer .news-content,
.projectsContainer .projects-content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 95%;
}
.newsContainer .news-content .news,
.newsContainer .news-content .projects,
.newsContainer .projects-content .news,
.newsContainer .projects-content .projects,
.projectsContainer .news-content .news,
.projectsContainer .news-content .projects,
.projectsContainer .projects-content .news,
.projectsContainer .projects-content .projects {
  height: 300px;
  width: 32%;
  text-decoration: none;
  background: rgba(217, 217, 217, 0.19);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.3s;
}
.newsContainer .news-content .news:hover,
.newsContainer .news-content .projects:hover,
.newsContainer .projects-content .news:hover,
.newsContainer .projects-content .projects:hover,
.projectsContainer .news-content .news:hover,
.projectsContainer .news-content .projects:hover,
.projectsContainer .projects-content .news:hover,
.projectsContainer .projects-content .projects:hover {
  cursor: pointer;
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.25);
}
.newsContainer .news-content .news .news-links,
.newsContainer .news-content .news .projects-links,
.newsContainer .news-content .projects .news-links,
.newsContainer .news-content .projects .projects-links,
.newsContainer .projects-content .news .news-links,
.newsContainer .projects-content .news .projects-links,
.newsContainer .projects-content .projects .news-links,
.newsContainer .projects-content .projects .projects-links,
.projectsContainer .news-content .news .news-links,
.projectsContainer .news-content .news .projects-links,
.projectsContainer .news-content .projects .news-links,
.projectsContainer .news-content .projects .projects-links,
.projectsContainer .projects-content .news .news-links,
.projectsContainer .projects-content .news .projects-links,
.projectsContainer .projects-content .projects .news-links,
.projectsContainer .projects-content .projects .projects-links {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-decoration: none;
}
.newsContainer .news-content .news .news-links div,
.newsContainer .news-content .news .projects-links div,
.newsContainer .news-content .projects .news-links div,
.newsContainer .news-content .projects .projects-links div,
.newsContainer .projects-content .news .news-links div,
.newsContainer .projects-content .news .projects-links div,
.newsContainer .projects-content .projects .news-links div,
.newsContainer .projects-content .projects .projects-links div,
.projectsContainer .news-content .news .news-links div,
.projectsContainer .news-content .news .projects-links div,
.projectsContainer .news-content .projects .news-links div,
.projectsContainer .news-content .projects .projects-links div,
.projectsContainer .projects-content .news .news-links div,
.projectsContainer .projects-content .news .projects-links div,
.projectsContainer .projects-content .projects .news-links div,
.projectsContainer .projects-content .projects .projects-links div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 90%;
  width: 90%;
}
.newsContainer .news-content .news .news-links div h1,
.newsContainer .news-content .news .projects-links div h1,
.newsContainer .news-content .projects .news-links div h1,
.newsContainer .news-content .projects .projects-links div h1,
.newsContainer .projects-content .news .news-links div h1,
.newsContainer .projects-content .news .projects-links div h1,
.newsContainer .projects-content .projects .news-links div h1,
.newsContainer .projects-content .projects .projects-links div h1,
.projectsContainer .news-content .news .news-links div h1,
.projectsContainer .news-content .news .projects-links div h1,
.projectsContainer .news-content .projects .news-links div h1,
.projectsContainer .news-content .projects .projects-links div h1,
.projectsContainer .projects-content .news .news-links div h1,
.projectsContainer .projects-content .news .projects-links div h1,
.projectsContainer .projects-content .projects .news-links div h1,
.projectsContainer .projects-content .projects .projects-links div h1 {
  font-family: Gotham-Book;
  color: #44358b;
}
.newsContainer .news-content .news .news-links div p,
.newsContainer .news-content .news .projects-links div p,
.newsContainer .news-content .projects .news-links div p,
.newsContainer .news-content .projects .projects-links div p,
.newsContainer .projects-content .news .news-links div p,
.newsContainer .projects-content .news .projects-links div p,
.newsContainer .projects-content .projects .news-links div p,
.newsContainer .projects-content .projects .projects-links div p,
.projectsContainer .news-content .news .news-links div p,
.projectsContainer .news-content .news .projects-links div p,
.projectsContainer .news-content .projects .news-links div p,
.projectsContainer .news-content .projects .projects-links div p,
.projectsContainer .projects-content .news .news-links div p,
.projectsContainer .projects-content .news .projects-links div p,
.projectsContainer .projects-content .projects .news-links div p,
.projectsContainer .projects-content .projects .projects-links div p {
  color: #000000;
  font-family: "Gotham-Light";
  text-align: justify;
}
.newsContainer .news-content .news .news-links div span,
.newsContainer .news-content .news .projects-links div span,
.newsContainer .news-content .projects .news-links div span,
.newsContainer .news-content .projects .projects-links div span,
.newsContainer .projects-content .news .news-links div span,
.newsContainer .projects-content .news .projects-links div span,
.newsContainer .projects-content .projects .news-links div span,
.newsContainer .projects-content .projects .projects-links div span,
.projectsContainer .news-content .news .news-links div span,
.projectsContainer .news-content .news .projects-links div span,
.projectsContainer .news-content .projects .news-links div span,
.projectsContainer .news-content .projects .projects-links div span,
.projectsContainer .projects-content .news .news-links div span,
.projectsContainer .projects-content .news .projects-links div span,
.projectsContainer .projects-content .projects .news-links div span,
.projectsContainer .projects-content .projects .projects-links div span {
  color: #000000;
  font-family: Gotham-Light;
}

@media screen and (max-width: 1600px) {
  .departement .gallery {
    width: 50%;
  }
  .localisation .testimony .speech-bubbles .left .bubble,
  .localisation .testimony .speech-bubbles .right .bubble {
    width: 60%;
  }
}
@media screen and (max-width: 1200px) {
  .departement .gallery {
    width: 50%;
  }
  .localisation .testimony .speech-bubbles .left .bubble,
  .localisation .testimony .speech-bubbles .right .bubble {
    width: 75%;
  }
}
@media screen and (max-width: 1024px) {
  .formation .reveal .revealContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .formation .reveal .revealContainer div:nth-child(1) {
    grid-area: 1/1/2/2;
  }
  .formation .reveal .revealContainer div:nth-child(2) {
    grid-area: 1/2/2/3;
  }
  .formation .reveal .revealContainer div:nth-child(3) {
    grid-area: 2/1/3/2;
  }
  .formation .reveal .revealContainer div:nth-child(4) {
    grid-area: 2/2/3/3;
  }
  .formation .parcours div {
    width: 45%;
  }
  .formation .parcours div p {
    padding-left: 30px;
    padding-right: 30px;
  }
  .formation .parcours div .btn-vides {
    width: 45%;
  }
  .formation .parcours div .btn-vides button {
    font-size: 1.25rem;
  }
  .formation .opportunities p {
    padding: 0 1em;
  }
  .formation .opportunities .gridContainer {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
  .formation .opportunities .gridContainer .column-1 {
    grid-area: 1/1/2/2;
  }
  .formation .opportunities .gridContainer .column-2 {
    grid-area: 2/1/3/2;
  }
  .formation .opportunities .btn-pleins {
    margin-top: 1em;
  }
  .formation .opportunities .btn-pleins button {
    font-size: 1.25rem;
  }
  .departement .gallery {
    width: 90%;
  }
  .departement .poles .lists {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
  .departement .poles .lists .audio-visual {
    grid-area: 1/1/2/2;
  }
  .departement .poles .lists .dev {
    grid-area: 2/1/3/2;
  }
  .departement .poles .lists .artistic-culture {
    grid-area: 3/1/4/2;
  }
  .departement .poles .lists .com {
    grid-area: 4/1/5/2;
  }
  .departement .realizations .realizations-gallery .galleryContainer {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
  }
  .departement .realizations .realizations-gallery .galleryContainer img {
    width: 600px;
  }
  .departement .realizations .realizations-gallery .galleryContainer img:first-child {
    grid-area: 1/1/2/2;
  }
  .departement .realizations .realizations-gallery .galleryContainer img:first-child + img {
    grid-area: 2/1/3/2;
  }
  .departement .realizations .realizations-gallery .galleryContainer img:first-child + img + img {
    grid-area: 3/1/4/2;
  }
  .departement .realizations .realizations-gallery .galleryContainer img:last-child {
    grid-area: 4/1/5/2;
  }
  .localisation .building h2 {
    margin-bottom: 2.5rem;
  }
  .localisation .building div {
    flex-wrap: wrap;
    width: 90%;
  }
  .localisation .building div div {
    width: 100%;
  }
  .localisation .building div div p {
    padding: 0 0;
    width: 100%;
  }
  .localisation .building div div ul {
    margin: 1em 0;
  }
  .localisation .building div iframe {
    width: 100%;
  }
  .localisation .reveal .revealContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .localisation .reveal .revealContainer div:nth-child(1) {
    grid-area: 1/1/2/2;
  }
  .localisation .reveal .revealContainer div:nth-child(2) {
    grid-area: 1/2/2/3;
  }
  .localisation .reveal .revealContainer div:nth-child(3) {
    grid-area: 2/1/3/2;
  }
  .localisation .reveal .revealContainer div:nth-child(4) {
    grid-area: 2/2/3/3;
  }
  .localisation .testimony video {
    width: 90%;
  }
  .localisation .testimony .speech-bubbles {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .localisation .testimony .speech-bubbles .left,
  .localisation .testimony .speech-bubbles .right {
    justify-content: center;
    margin: 2em 0;
  }
  .localisation .testimony .speech-bubbles .left .bubble,
  .localisation .testimony .speech-bubbles .right .bubble {
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  .formation .reveal .revealContainer .numbers span:last-child {
    font-size: 1.2rem;
  }
  .formation .reveal + div + h2 {
    margin: 2.5em 0;
  }
  .formation .parcours {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .formation .parcours div {
    width: 90%;
  }
  .formation .parcours div h3 {
    font-size: 1.5rem;
  }
  .formation .parcours div .btn-vides {
    width: 40%;
  }
  .formation .parcours div:first-child {
    margin-bottom: 50px;
  }
  .formation .opportunities h2 {
    font-size: 2rem;
  }
  .formation .opportunities p {
    font-size: 1.5rem;
  }
  .formation .opportunities .gridContainer .column-1,
  .formation .opportunities .gridContainer .column-2 {
    width: 100%;
  }
  .departement .gallery {
    height: auto;
  }
  .departement .gallery .row-1 {
    flex-direction: column;
    height: auto;
  }
  .departement .gallery .row-1 div:first-child {
    justify-content: center;
    height: 800px;
    width: 100%;
  }
  .departement .gallery .row-1 div:first-child img {
    height: 400px;
    width: 400px;
    margin: 0.5em 0;
  }
  .departement .gallery .row-1 div:last-child {
    justify-content: center;
    height: 400px;
    width: 100%;
    margin: 0.5em 0;
  }
  .departement .gallery .row-1 div:last-child img {
    height: 100%;
    width: 400px;
  }
  .departement .gallery .row-2 {
    height: auto;
    margin-top: 0.5em;
  }
  .departement .gallery .row-2 div {
    justify-content: center;
  }
  .departement .gallery .row-2 div img {
    width: 400px;
    height: 400px;
  }
  .departement .popup-image img {
    width: 75%;
  }
  .departement .realizations .realizations-gallery .galleryContainer img {
    width: 50%;
    place-self: center;
  }
  .localisation .reveal .revealContainer .spanContainer .text {
    font-size: 1.2rem;
  }
  .localisation #testimony {
    margin: 2.5em 0;
  }
  .localisation .testimony .speech-bubbles {
    margin-top: 5em;
  }
  .localisation .testimony .speech-bubbles .left,
  .localisation .testimony .speech-bubbles .right {
    padding: 0 1em;
  }
  .localisation .testimony .speech-bubbles .left {
    margin: 0;
  }
  .newsContainer .news-content,
  .newsContainer .projects-content,
  .projectsContainer .news-content,
  .projectsContainer .projects-content {
    flex-direction: column;
    height: 100%;
    width: 90%;
  }
  .newsContainer .news-content .news,
  .newsContainer .news-content .projects,
  .newsContainer .projects-content .news,
  .newsContainer .projects-content .projects,
  .projectsContainer .news-content .news,
  .projectsContainer .news-content .projects,
  .projectsContainer .projects-content .news,
  .projectsContainer .projects-content .projects {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .formation .reveal .revealContainer {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    padding: 35px 0;
  }
  .formation .reveal .revealContainer .numbers {
    margin: 30px 0;
  }
  .formation .reveal .revealContainer .numbers span:first-child {
    font-size: 4rem;
  }
  .formation .reveal .revealContainer div:nth-child(1) {
    grid-area: 1/1/2/2;
  }
  .formation .reveal .revealContainer div:nth-child(2) {
    grid-area: 2/1/3/2;
  }
  .formation .reveal .revealContainer div:nth-child(3) {
    grid-area: 3/1/4/2;
  }
  .formation .reveal .revealContainer div:nth-child(4) {
    grid-area: 4/1/5/2;
  }
  .formation .reveal + div + h2 {
    font-size: 1.5rem;
  }
  .formation .parcours div p {
    font-size: 1.2rem;
  }
  .formation .parcours div .btn-vides button {
    font-size: 1.2rem;
  }
  .formation .opportunities h2 {
    font-size: 1.5rem;
  }
  .formation .opportunities p {
    font-size: 1.2rem;
    margin: 2em 0 0;
  }
  .formation .opportunities .gridContainer .column-1 div img,
  .formation .opportunities .gridContainer .column-2 div img {
    height: 100px;
    width: 100px;
  }
  .formation .opportunities .gridContainer .column-1 div span,
  .formation .opportunities .gridContainer .column-2 div span {
    margin-left: 0.5rem;
    font-size: 1.2rem;
  }
  .formation .opportunities .btn-pleins {
    width: 40%;
  }
  .formation .opportunities .btn-pleins button {
    font-size: 1.2rem;
  }
  .departement h2 {
    font-size: 1.5rem;
  }
  .departement .gallery {
    width: 95%;
  }
  .departement .gallery .row-1 div:first-child img {
    height: 50%;
    width: 100%;
  }
  .departement .gallery .row-1 div:last-child img {
    height: 100%;
    width: 100%;
  }
  .departement .gallery .row-2 div img {
    height: 100%;
    width: 100%;
  }
  .departement .popup-image img {
    width: 95%;
  }
  .departement .poles .lists {
    margin-top: 2.5em;
  }
  .departement .poles .lists ul {
    font-size: 1.5rem;
  }
  .departement .poles .lists ul li {
    font-size: 1.2rem;
  }
  .departement .realizations h2 {
    font-size: 1.5rem;
  }
  .departement .realizations .realizations-gallery {
    margin-top: 2.5em;
  }
  .departement .realizations .gallery-popup-image img {
    width: 90%;
  }
  .localisation .building h2 {
    font-size: 1.5rem;
  }
  .localisation .building div div {
    font-size: 1.2rem;
  }
  .localisation #testimony {
    font-size: 1.5rem;
  }
  .localisation .reveal div {
    font-size: 1.2rem;
  }
  .localisation .reveal .revealContainer {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    padding: 35px 0;
  }
  .localisation .reveal .revealContainer .spanContainer {
    margin: 30px 0;
  }
  .localisation .reveal .revealContainer .spanContainer span:first-child {
    font-size: 4rem;
  }
  .localisation .reveal .revealContainer div:nth-child(1) {
    grid-area: 1/1/2/2;
  }
  .localisation .reveal .revealContainer div:nth-child(2) {
    grid-area: 2/1/3/2;
  }
  .localisation .reveal .revealContainer div:nth-child(3) {
    grid-area: 3/1/4/2;
  }
  .localisation .reveal .revealContainer div:nth-child(4) {
    grid-area: 4/1/5/2;
  }
  .localisation .reveal + h2 {
    font-size: 1.5rem;
    margin: 2.5rem 0;
  }
  .admission article h2 {
    font-size: 1.5rem;
  }
  .admission article p {
    font-size: 1.2rem;
  }
  .newsContainer h2,
  .projectsContainer h2 {
    font-size: 1.5rem;
  }
  .newsContainer .news-content .news .news-links div h1,
  .projectsContainer .news-content .news .news-links div h1 {
    font-size: 1.5rem;
  }
  .newsContainer .news-content .news .news-links div p,
  .projectsContainer .news-content .news .news-links div p {
    font-size: 1rem;
  }
}

/*# sourceMappingURL=index.css.map */
