@font-face {
  font-family: "Gotham-Black";
  src: url(../assets/Gotham-Font/Gotham-Black.otf);
}
@font-face {
  font-family: "Gotham-Book";
  src: url(../assets/Gotham-Font/Gotham-Book.otf);
}
@font-face {
  font-family: "Gotham-Light";
  src: url(../assets/Gotham-Font/Gotham-Light.otf);
}
@font-face {
  font-family: "Gotham-BookItalic";
  src: url(../assets/Gotham-Font/Gotham-BookItalic.otf);
}
@font-face {
  font-family: "Gotham-Bold";
  src: url(../assets/Gotham-Font/Gotham-Bold.otf);
}
* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-image: url("../assets/images/parcoursDev.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
header div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin-left: 1em;
}
header div h1,
header div span,
header div p {
  color: #FDFDFD;
  margin: 1em 0;
  animation: opacity 1s ease;
  -webkit-transition: opacity 1s ease;
  text-align: center;
}
header div h1 {
  font-family: "Gotham-Bold", sans-serif;
  font-size: 2.5rem;
}
header div span {
  font-family: "Gotham-Light", sans-serif;
  font-size: 1.5rem;
}
header div p {
  font-family: "Gotham-Light", sans-serif;
  font-size: 1.2rem;
}

section {
  margin-bottom: 100px;
}
section .jobsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 200px;
  transform: translateY(25px);
  -webkit-transform: translateY(25px);
  opacity: 0;
  transition: all 1s ease;
  background-color: #44358b;
  padding: 70px 0;
}
section .jobsContainer .career span {
  color: #FDFDFD;
  font-family: "Gotham-Light";
  font-size: 1.5rem;
}
section .jobsContainer .revealContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
section .jobsContainer .revealContainer .jobs-informations {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
section .jobsContainer .revealContainer .jobs-informations img {
  width: 150px;
}
section .jobsContainer .revealContainer .jobs-informations .jobs {
  color: #FDFDFD;
  font-family: "Gotham-Light";
  text-align: center;
  font-size: 1.5rem;
}
section .jobsContainer.active {
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  opacity: 1;
}
section .jobsContainer + h2 {
  margin: 5em 0;
  text-align: center;
  color: #44358b;
  font-family: "Gotham-Bold", sans-serif;
  font-weight: 700;
  padding: 0 10px;
  font-size: 2rem;
  transform: translateY(25px);
  -webkit-transform: translateY(25px);
  opacity: 0;
  transition: all 1s ease;
}
section .jobsContainer + h2.active {
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  opacity: 1;
}
section .PPN {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 10px;
}
section .PPN .column-1,
section .PPN .column-2,
section .PPN .column-3,
section .PPN .column-4,
section .PPN .column-5 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
section .PPN .column-1 svg,
section .PPN .column-2 svg,
section .PPN .column-3 svg,
section .PPN .column-4 svg,
section .PPN .column-5 svg {
  width: 250px;
  margin: 0.5em 0;
}
section .PPN .column-1 svg:first-child,
section .PPN .column-2 svg:first-child,
section .PPN .column-3 svg:first-child,
section .PPN .column-4 svg:first-child,
section .PPN .column-5 svg:first-child {
  width: 310px;
}
section .PPN .column-1 .skills,
section .PPN .column-1 .levels-1,
section .PPN .column-1 .levels-2,
section .PPN .column-1 .levels-3,
section .PPN .column-2 .skills,
section .PPN .column-2 .levels-1,
section .PPN .column-2 .levels-2,
section .PPN .column-2 .levels-3,
section .PPN .column-3 .skills,
section .PPN .column-3 .levels-1,
section .PPN .column-3 .levels-2,
section .PPN .column-3 .levels-3,
section .PPN .column-4 .skills,
section .PPN .column-4 .levels-1,
section .PPN .column-4 .levels-2,
section .PPN .column-4 .levels-3,
section .PPN .column-5 .skills,
section .PPN .column-5 .levels-1,
section .PPN .column-5 .levels-2,
section .PPN .column-5 .levels-3 {
  transition: all 1s ease;
  transform: translateY(25px);
  -webkit-transform: translateY(25px);
  opacity: 0;
}
section .PPN .column-1 .skills.active,
section .PPN .column-1 .levels-1.active,
section .PPN .column-1 .levels-2.active,
section .PPN .column-1 .levels-3.active,
section .PPN .column-2 .skills.active,
section .PPN .column-2 .levels-1.active,
section .PPN .column-2 .levels-2.active,
section .PPN .column-2 .levels-3.active,
section .PPN .column-3 .skills.active,
section .PPN .column-3 .levels-1.active,
section .PPN .column-3 .levels-2.active,
section .PPN .column-3 .levels-3.active,
section .PPN .column-4 .skills.active,
section .PPN .column-4 .levels-1.active,
section .PPN .column-4 .levels-2.active,
section .PPN .column-4 .levels-3.active,
section .PPN .column-5 .skills.active,
section .PPN .column-5 .levels-1.active,
section .PPN .column-5 .levels-2.active,
section .PPN .column-5 .levels-3.active {
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  opacity: 1;
}
section .PPN .column-1 #skills-1,
section .PPN .column-2 #skills-1,
section .PPN .column-3 #skills-1,
section .PPN .column-4 #skills-1,
section .PPN .column-5 #skills-1 {
  transition-delay: 0.1s;
}
section .PPN .column-1 #skills-2,
section .PPN .column-2 #skills-2,
section .PPN .column-3 #skills-2,
section .PPN .column-4 #skills-2,
section .PPN .column-5 #skills-2 {
  transition-delay: 0.2s;
}
section .PPN .column-1 #skills-3,
section .PPN .column-2 #skills-3,
section .PPN .column-3 #skills-3,
section .PPN .column-4 #skills-3,
section .PPN .column-5 #skills-3 {
  transition-delay: 0.3s;
}
section .PPN .column-1 #skills-4,
section .PPN .column-2 #skills-4,
section .PPN .column-3 #skills-4,
section .PPN .column-4 #skills-4,
section .PPN .column-5 #skills-4 {
  transition-delay: 0.4s;
}
section .PPN .column-1 #skills-5,
section .PPN .column-2 #skills-5,
section .PPN .column-3 #skills-5,
section .PPN .column-4 #skills-5,
section .PPN .column-5 #skills-5 {
  transition-delay: 0.5s;
}
section .PPN .column-1 #level-6,
section .PPN .column-2 #level-6,
section .PPN .column-3 #level-6,
section .PPN .column-4 #level-6,
section .PPN .column-5 #level-6 {
  transition-delay: 0.6s;
}
section .PPN .column-1 #level-7,
section .PPN .column-2 #level-7,
section .PPN .column-3 #level-7,
section .PPN .column-4 #level-7,
section .PPN .column-5 #level-7 {
  transition-delay: 0.7s;
}
section .PPN .column-1 #level-8,
section .PPN .column-2 #level-8,
section .PPN .column-3 #level-8,
section .PPN .column-4 #level-8,
section .PPN .column-5 #level-8 {
  transition-delay: 0.8s;
}
section .PPN .column-1 #level-9,
section .PPN .column-2 #level-9,
section .PPN .column-3 #level-9,
section .PPN .column-4 #level-9,
section .PPN .column-5 #level-9 {
  transition-delay: 0.9s;
}
section .PPN .column-1 #level-10,
section .PPN .column-2 #level-10,
section .PPN .column-3 #level-10,
section .PPN .column-4 #level-10,
section .PPN .column-5 #level-10 {
  transition-delay: 1s;
}
section .PPN .column-1 #level-11,
section .PPN .column-2 #level-11,
section .PPN .column-3 #level-11,
section .PPN .column-4 #level-11,
section .PPN .column-5 #level-11 {
  transition-delay: 1.1s;
}
section .PPN .column-1 #level-12,
section .PPN .column-2 #level-12,
section .PPN .column-3 #level-12,
section .PPN .column-4 #level-12,
section .PPN .column-5 #level-12 {
  transition-delay: 1.2s;
}
section .PPN .column-1 #level-13,
section .PPN .column-2 #level-13,
section .PPN .column-3 #level-13,
section .PPN .column-4 #level-13,
section .PPN .column-5 #level-13 {
  transition-delay: 1.3s;
}
section .PPN .column-1 #level-14,
section .PPN .column-2 #level-14,
section .PPN .column-3 #level-14,
section .PPN .column-4 #level-14,
section .PPN .column-5 #level-14 {
  transition-delay: 1.4s;
}
section .PPN .column-1 #level-15,
section .PPN .column-2 #level-15,
section .PPN .column-3 #level-15,
section .PPN .column-4 #level-15,
section .PPN .column-5 #level-15 {
  transition-delay: 1.5s;
}
section .PPN .column-1 #level-16,
section .PPN .column-2 #level-16,
section .PPN .column-3 #level-16,
section .PPN .column-4 #level-16,
section .PPN .column-5 #level-16 {
  transition-delay: 1.6s;
}
section .PPN .column-1 #level-17,
section .PPN .column-2 #level-17,
section .PPN .column-3 #level-17,
section .PPN .column-4 #level-17,
section .PPN .column-5 #level-17 {
  transition-delay: 1.7s;
}
section .PPN .column-1 #level-18,
section .PPN .column-2 #level-18,
section .PPN .column-3 #level-18,
section .PPN .column-4 #level-18,
section .PPN .column-5 #level-18 {
  transition-delay: 1.8s;
}
section .PPN .column-1 #level-19,
section .PPN .column-2 #level-19,
section .PPN .column-3 #level-19,
section .PPN .column-4 #level-19,
section .PPN .column-5 #level-19 {
  transition-delay: 1.9s;
}
section .PPN .column-1 #level-20,
section .PPN .column-2 #level-20,
section .PPN .column-3 #level-20,
section .PPN .column-4 #level-20,
section .PPN .column-5 #level-20 {
  transition-delay: 2s;
}

@media screen and (max-width: 1024px) {
  section .jobsContainer .career {
    padding: 0 2em;
    text-align: center;
  }
  section .jobsContainer .revealContainer {
    align-items: flex-start;
    flex-direction: column;
    width: auto;
  }
  section .jobsContainer .revealContainer .jobs-informations {
    flex-direction: row;
  }
}
@media screen and (max-width: 768px) {
  header div h1 {
    font-size: 2rem;
  }
  section .jobsContainer .career span {
    font-size: 1.2rem;
  }
  section .jobsContainer .revealContainer .jobs-informations img {
    width: 100px;
  }
  section .jobsContainer .revealContainer .jobs-informations .jobs {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 480px) {
  header div h1 {
    font-size: 1.5rem;
  }
  section .jobsContainer .career {
    padding: 0 10px;
  }
  section .jobsContainer + h2 {
    font-size: 1.5rem;
  }
}
@keyframes opacity {
  from {
    opacity: 0;
    transform: translate(0, 20px);
  }
  to {
    opacity: 1;
  }
}

/*# sourceMappingURL=parcoursDev.css.map */
