@import "../scss/variables.scss";

header {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;

    video {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}

svg {
    display: block;
}

.formation {

    .reveal {
        margin-top: 200px;
        transform: translateY(25px);
        -webkit-transform: translateY(25px);
        opacity: 0;
        transition: all 1s ease;
        -webkit-transition: all 1s ease;

        .revealContainer {
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            background-color: $bleu;
            width: 100%;
            padding: 70px 0;

            .numbers {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                span {
                    color: $blanc;
                    font-family: "Gotham-Light", sans-serif;
                    text-align: center;
                }

                .spanContainer {
                    display: flex;
                    flex-direction: column;

                    font-size: 5rem;
                    width: 100px;
                }

                .chiffres {
                    font-size: 1.5rem;
                    width: auto;
                }
            }
        }

        &.active {
            transform: translateY(0px);
            -webkit-transform: translateY(0px);
            opacity: 1;
        }

        & + div {

            & + h2 {
                color: $bleu;
                font-family: "Gotham-Bold", sans-serif;
                font-size: 2rem;
                margin: 2em 0;
                text-align: center;
                padding: 0 10px;
            }
        }
    }

    .parcours {
        display: inline-flex;
        justify-content: space-evenly;

        div {
            background: rgba(217, 217, 217, 0.19);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 45%;
            transition: all .3s;
            padding: 2em 0;

            &:hover {
                cursor: default;
                transform: translateY(-10px);
                -webkit-transform: translateY(-10px);
                box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.25);
            }

            h3 {
                color: $bleu;
                font-family: "Gotham-Light", sans-serif;
                text-align: center;
                font-size: 2rem;
                padding: 0 20px;
                font-weight: 700;
                margin-bottom: 1em;
            }

            p {
                font-family: "Gotham-Light";
                text-align: justify;
                font-size: 1.5rem;
                color: $violet;
                padding: 0 60px;
                margin: 0;
                font-weight: 400;
            }

            img {
                width: 150px;
            }

            .btn-vides {
                width: 200px;

                button {
                    background: $blanc;
                    border: 3px solid $bleu;
                    color: $bleu;
                    font-weight: 400;
                    transition: all .3s ease-in-out;
                    font-family: "Gotham-Light";
                    font-size: 1.2rem;
                    padding: 0;
                    border-radius: 14px;
                    height: 60px;
                    width: 100%;

                    &:hover {
                        background: $bleu;
                        color: $blanc;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .opportunities {
        background-color: $bleu;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 3em 0 0;
        position: relative;

        svg:first-of-type {
            margin-top: -1%;
        }

        #opportunities-anchor {
            height: 100px;
            width: 100%;
            background-color: transparent;
        }

        .icon {
            opacity: 0;
            transform: translateY(25px);
            -webkit-transform: translateY(25px);
            transition: all 1s ease;

            &.active {
                opacity: 1;
                transform: translateY(0px);
                -webkit-transform: translateY(0px);
            }
        }

        h2 {
            margin: 0;
            color: $blanc;
            font-size: 2rem;
            font-family: "Gotham-Bold", sans-serif;
            text-align: center;
            padding: 0 10px;
        }

        p {
            font-family: "Gotham-Light";
            color: $blanc;
            font-size: 1.5rem;
            margin: 1em 0;
            text-align: center;
            padding: 0 3em;
        }

        .gridContainer {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr;
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            width: 90%;

            .column-1,
            .column-2 {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                width: 50%;
                place-self: center;

                div {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        width: 100px;
                        height: 100px;
                    }

                    span {
                        color: $blanc;
                        font-family: "Gotham-Light";
                        font-size: 1.2rem;
                        margin-left: .5em;
                    }
                }
            }

            .column-1 {
                grid-area: 1 / 1 / 2 / 2;
            }

            .column-2 {
                grid-area: 1 / 2 / 2 / 3;
            }
        }

        .btn-pleins {
            width: 200px;
            margin: 2em 0 0;

            button {
                background: $bleu;
                border: 3px solid $blanc;
                color: $blanc;
                font-weight: 400;
                transition: all .3s ease-in-out;
                font-family: "Gotham-Light";
                font-size: 1.2rem;
                padding: 0;
                border-radius: 14px;
                height: 60px;
                width: 100%;

                &:hover {
                    background: $blanc;
                    color: $bleu;
                    cursor: pointer;
                }
            }
        }

        svg:last-of-type {
            margin-bottom: -1%;
        }
    }
}

.departement {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin-top: 1%;

    #departement-anchor {
        height: 100px;
    }

    h2 {
        color: $orange;
        font-family: "Gotham-Bold", sans-serif;
        font-size: 2rem;
        text-align: center;
        padding: 0 10px;
    }

    .gallery {
        margin-top: 5em;
        width: 40%;
        height: 900px;

        .row-1 {
            display: flex;
            align-items: center;
            justify-content: center;

            height: 65%;
            width: 100%;

            div:first-child {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: column;

                width: 50%;
                height: 100%;

                img {
                    display: block;
                    height: 49.5%;
                    width: 100%;
                    object-fit: cover;
                    transition: opacity .3s ease;

                    &:hover {
                        opacity: .7;
                        cursor: pointer;
                    }
                }
            }

            div:last-child {
                display: flex;
                align-items: center;
                justify-content: flex-end;

                width: 50%;
                height: 100%;

                img {
                    width: 98.5%;
                    height: 100%;
                    object-fit: cover;
                    transition: opacity .3s ease;

                    &:hover {
                        opacity: .7;
                        cursor: pointer;
                    }
                }
            }
        }

        .row-2 {
            height: 35%;
            width: 100%;

            div {
                display: flex;
                align-items: center;
                justify-content: flex-end;

                width: 100%;
                height: 100%;

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 96%;
                    transition: opacity .3s ease;

                    &:hover {
                        opacity: .7;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .popup-image {
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, .9);
        width: 100%;
        height: 100vh;
        z-index: 10;
        display: none;

        span {
            position: absolute;
            top: 1%;
            right: 1%;
            font-size: 40px;
            font-weight: bold;
            color: $blanc;
            cursor: pointer;
            z-index: 100;
        }

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            width: 50%;
            max-height: 700px;
            object-fit: cover;
        }
    }

    .poles {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        position: relative;
        background-color: $orange;
        width: 100%;

        svg:first-of-type {
            margin-top: -1%;
        }

        h2 {
            color: white;
            transform: translateY(25px);
            -webkit-transform: translateY(25px);
            opacity: 0;
            transition: all 1s ease;

            &.active {
                transform: translateY(0px);
                -webkit-transform: translateY(0px);
                opacity: 1;
            }
        }

        .lists {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 50px;
            place-items: center;

            margin-top: 5em;
            width: 90%;

            ul {
                transform: translateY(25px);
                opacity: 0;
                transition: all 1s ease;

                list-style-type: none;
                color: $blanc;
                font-family: Gotham-Light;
                font-size: 2rem;
                width: 75%;

                li {
                    font-size: 1.5rem;

                    &:first-child {
                        margin: 1em 0 0;
                    }
                }

                &.active {
                    transform: translateY(0px);
                    -webkit-transform: translateY(0px);
                    opacity: 1;
                }
            }

            .audio-visual {
                grid-area: 1 / 1 / 2 / 2;
            }

            .dev {
                grid-area: 1 / 2 / 2 / 3;
            }

            .artistic-culture {
                grid-area: 2 / 1 / 3 / 2;
            }

            .com {
                grid-area: 2 / 2 / 3 / 3;
            }
        }

        svg:last-of-type {
            margin-bottom: -1%;
        }
    }

    .realizations {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        width: 100%;
        margin: 1% 0;

        h2 {
            color: $jaune;
            font-family: "Gotham-Bold", sans-serif;
            font-size: 2rem;
            text-align: center;
        }

        .realizations-gallery {
            margin-top: 5em;

            .galleryContainer {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 1fr);
                grid-column-gap: 15px;
                grid-row-gap: 15px;

                img {
                    width: 400px;
                    transition: opacity .3s ease;

                    &:first-child {
                        grid-area: 1 / 1 / 2 / 2;

                        & + img {
                            grid-area: 1 / 2 / 2 / 3;

                            & + img {
                                grid-area: 2 / 1 / 3 / 2;
                            }
                        }
                    }

                    &:last-child {
                        grid-area: 2 / 2 / 3 / 3;
                    }

                    &:hover {
                        opacity: .7;
                        cursor: pointer;
                    }
                }
            }
        }

        .gallery-popup-image {
            position: fixed;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, .9);
            width: 100%;
            height: 100vh;
            z-index: 10;
            display: none;

            span {
                position: absolute;
                top: 1%;
                right: 1%;
                font-size: 40px;
                font-weight: bold;
                color: $blanc;
                cursor: pointer;
                z-index: 100;
            }

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                -webkit-transform: translate(-50%, -50%);
                max-height: 700px;
                object-fit: contain;
            }
        }
    }
}

.localisation {
    position: relative;

    .building {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        position: relative;
        width: 100%;
        background-color: $jaune;
        padding-bottom: 5em;

        svg:first-of-type {
            margin-top: -1%;
        }

        h2 {
            color: $blanc;
            font-size: 2rem;
            font-family: "Gotham-Bold", sans-serif;
            text-align: center;
            padding: 0 10px;
            margin-bottom: 5em;
        }

        div {
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            width: 90%;

            div {
                display: flex;
                align-items: start;
                justify-content: center;
                flex-direction: column;

                width: 75%;
                color: $blanc;
                font-family: "Gotham-Light";
                font-size: 1.5rem;

                p {
                    padding-right: 60px;
                }

                ul {
                    margin-top: 2em;

                    li {
                        list-style-type: "- ";
                    }
                }
            }
        }
    }

    .reveal {
        transform: translateY(25px);
        -webkit-transform: translateY(25px);
        opacity: 0;
        transition: all 1s ease;

        .revealContainer {
            background-color: $blanc;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            padding: 70px 0;

            .spanContainer {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                span {
                    color: $jaune;
                    font-family: "Gotham-Light", sans-serif;
                    text-align: center;
                }

                .numbers {
                    display: flex;
                    flex-direction: column;

                    font-size: 5rem;
                }

                .text {
                    font-size: 1.5rem;
                }
            }
        }

        &.active {
            transform: translateY(0px);
            -webkit-transform: translateY(0px);
            opacity: 1;
        }

        & + div {

            & + h2 {
                color: $bleu;
                font-family: "Gotham-Bold", sans-serif;
                font-size: 2rem;
                margin: 5em 0;
                text-align: center;
                padding: 0 10px;
            }
        }
    }

    .testimony {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        width: 100%;

        video {
            width: 50%;
        }

        .speech-bubbles {
            width: 100%;
            margin-top: 10em;

            .left,
            .right {

                .bubble {
                    position: relative;
                    font-family: "Gotham-Light";
                    font-size: 1.2rem;
                    line-height: 1.2;
                    width: 45%;
                    border-radius: 40px;
                    padding: 24px;
                    text-align: center;
                    color: $blanc;
                }

                .bubble-bottom-left:before {
                    content: "";
                    width: 0px;
                    height: 0px;
                    position: absolute;
                    border-right: 12px solid transparent;
                    border-bottom: 20px solid transparent;
                    left: 32px;
                    bottom: -24px;
                }

                .bubble-bottom-right:before {
                    content: "";
                    width: 0px;
                    height: 0px;
                    position: absolute;
                    border-left: 12px solid transparent;
                    border-bottom: 20px solid transparent;
                    right: 32px;
                    bottom: -24px;
                }
            }

            .left {
                display: flex;
                align-items: center;
                justify-content: flex-start;

                margin-left: 1em;
            }

            .left:nth-child(1) {

                .bubble {
                    background-color: $bleu;
                }

                .bubble-bottom-left:before {
                    border-left: 24px solid $bleu;
                    border-top: 12px solid $bleu;
                }
            }

            .left:nth-child(3) {

                .bubble {
                    background-color: $orange;
                }

                .bubble-bottom-left:before {
                    border-left: 24px solid $orange;
                    border-top: 12px solid $orange;
                }
            }

            .right {
                display: flex;
                align-items: center;
                justify-content: flex-end;

                margin: 2em 1em 2em 0;

                .bubble {
                    background-color: $jaune;
                }

                .bubble-bottom-right:before {
                    border-right: 24px solid $jaune;
                    border-top: 12px solid $jaune;
                }
            }
        }
    }
}

.admission {
    margin-top: 3%;

    article {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        position: relative;
        background-color: $orange;

        svg {
            display: block;

            &:first-of-type {
                margin-top: -1%;
            }

            &:last-of-type {
                margin-bottom: -1%;
            }
        }

        h2,
        p {
            transform: translateY(25px);
            -webkit-transform: translateY(25px);
            opacity: 0;
            transition: all 1s ease;

            &.active {
                transform: translateY(0px);
                -webkit-transform: translateY(0px);
                opacity: 1;
            }
        }

        h2 {
            margin: 0;
            color: $blanc;
            font-family: "Gotham-Bold", sans-serif;
            font-size: 2rem;
            text-align: center;
            padding: 0 10px;
        }

        p {
            color: $blanc;
            font-family: "Gotham-Light";
            font-size: 1.5rem;
            line-height: 1.5;
            margin-top: 5em;
            width: 75%;
            text-align: justify;
        }
    }
}

.newsContainer,
.projectsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    position: relative;
    width: 100%;
    padding: 1em 0;

    h2 {
        font-family: Gotham-Bold;
        color: $bleu;
        font-size: 2rem;
        margin: 2em 0 1em;
    }

    .news-content,
    .projects-content {
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        height: 100%;
        width: 95%;

        .news,
        .projects {
            height: 300px;
            width: 32%;
            text-decoration: none;
            background: rgba(217, 217, 217, 0.19);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            transition: all .3s;

            &:hover {
                cursor: pointer;
                transform: translateY(-10px);
                -webkit-transform: translateY(-10px);
                box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.25);
            }

            .news-links,
            .projects-links {
                display: flex;
                align-items: center;
                justify-content: center;

                height: 100%;
                width: 100%;
                text-decoration: none;

                div {
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    flex-direction: column;

                    height: 90%;
                    width: 90%;

                    h1 {
                        font-family: Gotham-Book;
                        color: $bleu;
                    }

                    p {
                        color: $noir;
                        font-family: "Gotham-Light";
                        text-align: justify;
                    }

                    span {
                        color: $noir;
                        font-family: Gotham-Light;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1600px) {

    .departement {

        .gallery {
            width: 50%;
        }
    }

    .localisation {

        .testimony {

            .speech-bubbles {

                .left,
                .right {

                    .bubble {
                        width: 60%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {

    .departement {

        .gallery {
            width: 50%;
        }
    }

    .localisation {

        .testimony {

            .speech-bubbles {

                .left,
                .right {

                    .bubble {
                        width: 75%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {

    .formation {

        .reveal {

            .revealContainer {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 1fr);
                grid-column-gap: 0px;
                grid-row-gap: 0px;

                div:nth-child(1) {
                    grid-area: 1 / 1 / 2 / 2;
                }

                div:nth-child(2) {
                    grid-area: 1 / 2 / 2 / 3;
                }

                div:nth-child(3) {
                    grid-area: 2 / 1 / 3 / 2;
                }

                div:nth-child(4) {
                    grid-area: 2 / 2 / 3 / 3;
                }
            }
        }

        .parcours {

            div {
                width: 45%;

                p {
                    padding-left: 30px;
                    padding-right: 30px;
                }

                .btn-vides {
                    width: 45%;

                    button {
                        font-size: 1.25rem;
                    }
                }
            }
        }

        .opportunities {

            p {
                padding: 0 1em;
            }

            .gridContainer {
                grid-template-columns: 1fr;
                grid-template-rows: repeat(2, 1fr);

                .column-1 {
                    grid-area: 1 / 1 / 2 / 2;
                }

                .column-2 {
                    grid-area: 2 / 1 / 3 / 2;
                }
            }

            .btn-pleins {
                margin-top: 1em;

                button {
                    font-size: 1.25rem;
                }
            }
        }
    }

    .departement {

        .gallery {
            width: 90%;
        }

        .poles {

            .lists {
                grid-template-columns: 1fr;
                grid-template-rows: repeat(4, 1fr);

                .audio-visual {
                    grid-area: 1 / 1 / 2 / 2;
                }

                .dev {
                    grid-area: 2 / 1 / 3 / 2;
                }

                .artistic-culture {
                    grid-area: 3 / 1 / 4 / 2;
                }

                .com {
                    grid-area: 4 / 1 / 5 / 2;
                }
            }
        }

        .realizations {

            .realizations-gallery {

                .galleryContainer {
                    grid-template-columns: 1fr;
                    grid-template-rows: repeat(4, 1fr);
                    grid-column-gap: 0px;

                    img {
                        width: 600px;

                        &:first-child {
                            grid-area: 1 / 1 / 2 / 2;

                            & + img {
                                grid-area: 2 / 1 / 3 / 2;

                                & + img {
                                    grid-area: 3 / 1 / 4 / 2;
                                }
                            }
                        }

                        &:last-child {
                            grid-area: 4 / 1 / 5 / 2;
                        }
                    }
                }
            }
        }
    }

    .localisation {

        .building {

            h2 {
                margin-bottom: 2.5rem;
            }

            div {
                flex-wrap: wrap;
                width: 90%;

                div {
                    width: 100%;

                    p {
                        padding: 0 0;
                        width: 100%;
                    }

                    ul {
                        margin: 1em 0;
                    }
                }

                iframe {
                    width: 100%;
                }
            }
        }

        .reveal {

            .revealContainer {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 1fr);
                grid-column-gap: 0px;
                grid-row-gap: 0px;

                div:nth-child(1) {
                    grid-area: 1 / 1 / 2 / 2;
                }

                div:nth-child(2) {
                    grid-area: 1 / 2 / 2 / 3;
                }

                div:nth-child(3) {
                    grid-area: 2 / 1 / 3 / 2;
                }

                div:nth-child(4) {
                    grid-area: 2 / 2 / 3 / 3;
                }
            }
        }

        .testimony {

            video {
                width: 90%;
            }

            .speech-bubbles {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                .left,
                .right {
                    justify-content: center;
                    margin: 2em 0;

                    .bubble {
                        width: 90%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {

    .formation {

        .reveal {

            .revealContainer {

                .numbers {

                    span:last-child {
                        font-size: 1.2rem;
                    }
                }
            }

            & + div {

                & + h2 {
                    margin: 2.5em 0;
                }
            }
        }

        .parcours {
            display: flex;
            flex-direction: column;
            align-items: center;

            div {
                width: 90%;

                h3 {
                    font-size: 1.5rem;
                }

                .btn-vides {
                    width: 40%;
                }
            }

            div:first-child {
                margin-bottom: 50px;
            }
        }

        .opportunities {

            h2 {
                font-size: 2rem;
            }

            p {
                font-size: 1.5rem;
            }

            .gridContainer {

                .column-1,
                .column-2 {
                    width: 100%;
                }
            }
        }
    }

    .departement {

        .gallery {
            height: auto;

            .row-1 {
                flex-direction: column;

                height: auto;

                div:first-child {
                    justify-content: center;

                    height: 800px;
                    width: 100%;

                    img {
                        height: 400px;
                        width: 400px;
                        margin: .5em 0;
                    }
                }

                div:last-child {
                    justify-content: center;

                    height: 400px;
                    width: 100%;
                    margin: .5em 0;

                    img {
                        height: 100%;
                        width: 400px;
                    }
                }
            }

            .row-2 {
                height: auto;
                margin-top: .5em;

                div {
                    justify-content: center;

                    img {
                        width: 400px;
                        height: 400px;
                    }
                }
            }
        }

        .popup-image {

            img {
                width: 75%;
            }
        }

        .realizations {

            .realizations-gallery {

                .galleryContainer {

                    img {
                        width: 50%;
                        place-self: center;
                    }
                }
            }
        }
    }

    .localisation {

        .reveal {

            .revealContainer {

                .spanContainer {

                    .text {
                        font-size: 1.2rem;
                    }
                }
            }
        }

        #testimony {
            margin: 2.5em 0;
        }

        .testimony {

            .speech-bubbles {
                margin-top: 5em;

                .left,
                .right {
                    padding: 0 1em;
                }

                .left {
                    margin: 0;
                }
            }
        }
    }

    .newsContainer,
    .projectsContainer {

        .news-content,
        .projects-content {
            flex-direction: column;

            height: 100%;
            width: 90%;

            .news,
            .projects {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 480px) {

    .formation {

        .reveal {

            .revealContainer {
                grid-template-columns: 1fr;
                grid-template-rows: repeat(4, 1fr);
                padding: 35px 0;

                .numbers {
                    margin: 30px 0;

                    span:first-child {
                        font-size: 4rem;
                    }
                }

                div:nth-child(1) {
                    grid-area: 1 / 1 / 2 / 2;
                }

                div:nth-child(2) {
                    grid-area: 2 / 1 / 3 / 2;
                }

                div:nth-child(3) {
                    grid-area: 3 / 1 / 4 / 2;
                }

                div:nth-child(4) {
                    grid-area: 4 / 1 / 5 / 2;
                }
            }

            & + div {

                & + h2 {
                    font-size: 1.5rem;
                }
            }
        }

        .parcours {

            div {

                p {
                    font-size: 1.2rem;
                }

                .btn-vides {
                    
                    button {
                        font-size: 1.2rem;
                    }
                }
            }
        }

        .opportunities {

            h2 {
                font-size: 1.5rem;
            }

            p {
                font-size: 1.2rem;
                margin: 2em 0 0;
            }

            .gridContainer {

                .column-1,
                .column-2 {

                    div {

                        img {
                            height: 100px;
                            width: 100px;
                        }

                        span {
                            margin-left: .5rem;
                            font-size: 1.2rem;
                        }
                    }
                }
            }

            .btn-pleins {
                width: 40%;

                button {
                    font-size: 1.2rem;
                }
            }
        }
    }

    .departement {

        h2 {
            font-size: 1.5rem;
        }

        .gallery {
            width: 95%;

            .row-1 {

                div:first-child {

                    img {
                        height: 50%;
                        width: 100%;
                    }
                }

                div:last-child {

                    img {
                        height: 100%;
                        width: 100%;
                    }
                }
            }

            .row-2 {

                div {

                    img {
                        height: 100%;
                        width: 100%;
                    }
                }
            }
        }

        .popup-image {

            img {
                width: 95%;
            }
        }

        .poles {

            .lists {
                margin-top: 2.5em;

                ul {
                    font-size: 1.5rem;

                    li {
                        font-size: 1.2rem;
                    }
                }
            }
        }

        .realizations {

            h2 {
                font-size: 1.5rem;
            }

            .realizations-gallery {
                margin-top: 2.5em;
            }

            .gallery-popup-image {

                img {
                    width: 90%;
                }
            }
        }
    }

    .localisation {

        .building {

            h2 {
                font-size: 1.5rem;
            }

            div {

                div {
                    font-size: 1.2rem;
                }
            }
        }

        #testimony {
            font-size: 1.5rem;
        }

        .reveal {

            div {
                font-size: 1.2rem;
            }

            .revealContainer {
                grid-template-columns: 1fr;
                grid-template-rows: repeat(4, 1fr);
                padding: 35px 0;

                .spanContainer {
                    margin: 30px 0;

                    span:first-child {
                        font-size: 4rem;
                    }
                }

                div:nth-child(1) {
                    grid-area: 1 / 1 / 2 / 2;
                }

                div:nth-child(2) {
                    grid-area: 2 / 1 / 3 / 2;
                }

                div:nth-child(3) {
                    grid-area: 3 / 1 / 4 / 2;
                }

                div:nth-child(4) {
                    grid-area: 4 / 1 / 5 / 2;
                }
            }

            & + h2 {
                font-size: 1.5rem;
                margin: 2.5rem 0;
            }
        }
    }

    .admission {

        article {

            h2 {
                font-size: 1.5rem;
            }

            p {
                font-size: 1.2rem;
            }
        }
    }

    .newsContainer,
    .projectsContainer {

        h2 {
            font-size: 1.5rem;
        }

        .news-content {

            .news {

                .news-links {

                    div {

                        h1 {
                            font-size: 1.5rem;
                        }

                        p {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
}