@import "../scss/variables";

@mixin liens {
    font-size: 1.2rem;
    padding: 0 40px;
    text-decoration: none;
    color: $noir;
    transition: .2s ease-in-out;
    font-family: "Gotham-Bold";
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $blanc;

    &.active {
        overflow: hidden;
    }
}

nav {
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    transition: all .3s ease;

    &.active {
        background-color: $blanc;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        height: 80px;
    }

    .nav-img {
        width: 200px;
        margin-left: 1em;
        content: url(../assets/images/logo.png);
        transition: all .3s ease;
        opacity: 0;

        &.active {
            opacity: 1;

            &:hover {
                opacity: .7;
                cursor: pointer;
            }
        }

        &:not(.active) {
            pointer-events: none;
        }
    }

    .nav-links {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        &.active {

            a {
                @include liens;
                opacity: 1;

                &:hover {
                    opacity: .7;
                }
            }
        }

        &:not(.active) {

            a {
                @include liens;
                opacity: 0;
                pointer-events: none;

                &:hover {
                    cursor: default;
                }
            }
        }
    }

    .nav-burger {
        display: none;
        position: relative;
        height: 50px;
        width: 50px;
        margin-right: 30px;
        transition: opacity .3s ease;
        transition: transform 0.2s ease-in-out;
        user-select: none;
        opacity: 0;
        pointer-events: none;

        span {
            width: 100%;
            height: 5px;

            &:nth-child(1) {
                display: flex;
                justify-content: flex-start;

                p {
                    width: 50%;
                    background-color: $jaune;
                    transition: all .3s ease-in-out;
                }
            }

            &:nth-child(2) {
                p {
                    width: 100%;
                    background-color: $bleu;
                    transition: all .3s ease-in-out;
                }
            }

            &:nth-child(3) {
                display: flex;
                justify-content: flex-end;

                p {
                    width: 50%;
                    background-color: $orange;
                    transition: all .3s ease-in-out;
                }
            }

            p {
                height: 100%;
                margin-top: 0;
                border-radius: 10px;
            }
        }

        &:hover {
            cursor: pointer;
        }

        &.active {
            opacity: 1;
            pointer-events: auto;
        }

        &.open {
            transform: rotateZ(-90deg);
            -webkit-transform: rotateZ(-90deg);

            span p {
                width: 10%;
            }

            span:nth-child(1) p,
            span:nth-child(2) p {
                transform: translateX(22.5px);
                -webkit-transform: translateX(22.5px);
            }

            span:nth-child(3) p {
                transform: translateX(-22.5px);
                -webkit-transform: translateX(-22.5px);
            }
        }
    }
}

@media screen and (max-width: 1024px) {

    nav {

        .nav-img {
            width: 175px;
        }

        .nav-links {

            &.active {

                a {
                    padding: 0 20px;
                    font-size: 1rem;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {

    nav {
        justify-content: space-between;
        height: 80px;

        .nav-img {
            content: url(../assets/images/favicon.png);
            width: 70px;
            margin-left: 1em;
        }

        .nav-links {
            background-color: rgba(253, 253, 253, .5);
            backdrop-filter: blur(8px);
            -webkit-backdrop-filter: blur(8px);
            position: absolute;
            top: -100vh;
            left: 0;
            width: 100%;
            height: 100vh;
            flex-direction: column;
            transition: all .3s ease-in-out;

            &.active {

                a {
                    font-size: 2rem;
                    margin: 1em 0;
                }
            }

            &.open {
                display: flex;
                top: 0;

                a {
                    opacity: 1;
                    font-size: 2rem;
                    margin: 1em 0;
                }
            }
        }

        .nav-burger {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: column;
            margin-right: 2em;

            &:hover {
                cursor: pointer;
            }
        }
    }
}

@media screen and (max-width: 480px) {

    nav {

        .nav-links {

            &.active {

                a {
                    font-size: 1.5rem;
                }
            }
        }
    }
}