$noir: #000000;
$bleu: #44358b;
$violet: #7175B6;
$jaune: #FBB800;
$orange: #EB5E25;
$blanc: #FDFDFD;

@font-face {
  font-family: "Gotham-Black";
  src: url(../assets/Gotham-Font/Gotham-Black.otf);
}

@font-face {
  font-family: "Gotham-Book";
  src: url(../assets/Gotham-Font/Gotham-Book.otf);
}

@font-face {
  font-family: "Gotham-Light";
  src: url(../assets/Gotham-Font/Gotham-Light.otf);
}

@font-face {
  font-family: "Gotham-BookItalic";
  src: url(../assets/Gotham-Font/Gotham-BookItalic.otf);
}

@font-face {
  font-family: "Gotham-Bold";
  src: url(../assets/Gotham-Font/Gotham-Bold.otf);
}