@import url('https://fonts.cdnfonts.com/css/gotham');

:root {
    --violet: #44358B;
    --bleu: #7175B6;
    --jaune: #FBB800;
    --orange: #F18715;
    --rouge: #EB5E25;
}

*, *:before, *:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Gotham';
}

form {
    background-color: red;
}

#login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: rgb(68,53,139);
background: linear-gradient(130deg, rgba(68,53,139,1) 36%, rgba(113,117,182,1) 100%);
}

#login-form form {
    height: 465px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    border-radius: 10px;
    border: 2px solid rgba(255,255,255,0.1);
    padding: 50px 35px;
}

#login-form form * {
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

#login-form form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

#login-form label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

#login-form input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

#login-form ::placeholder {
    color: #e5e5e5;
}

#login-form input[type="submit"] {
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: .4s;
}

#login-form input[type="submit"]:hover {
    background-color: #cdcccc;
}