/* :root {

} */

*, *:before, *:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #080710;
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

main {
    margin: 0 200px;
}

h1 {
    color: white;
}

form {
    margin-top: 15px;
    border-radius: 10px;
    width: 100%;
    height: 850px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: rgba(255,255,255,0.13);
    padding: 30px;
}

#titre {
    height: 60px;
    border-radius: 5px;
    padding: 8px;
    font-size: 36px;
}

#MyTextArea {
    height: 600px;
    resize: vertical;
}


input[type="submit"] {
    margin-top: 50px;
    width: 30%;
    margin: 0 auto;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: .4s;
} 
