@import url('https://fonts.cdnfonts.com/css/gotham');

:root {
    --violet: #44358B;
    --bleu: #7175B6;
    --jaune: #FBB800;
    --orange: #F18715;
    --rouge: #EB5E25;
}

*, *:before, *:after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Gotham', 'sans-serif';
    font-size: 1.1rem;
    color: var(--violet);
    background-color: #ededed;
}

main {
    margin: 0 12vw;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

footer {
    text-align: right;
    margin-right: 12vw;
    font-style: italic;
}